* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  background: #292929;
  color: #eee;
  padding: 1rem;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  height: 500px;
  flex-grow: 1;
  width: 100%;
  max-width: 2000px; /* images are a maximum of 1000px wide and take up at most 50% of the container */
}

.panel {
  width: 20%;
  flex-grow: 1;
  padding: 0.5rem;
  position: relative;
  transition: width 0.7s ease-in-out;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel.panel-active {
  width: 50%;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-overlay > p {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 3px 3px 5px #000;
}

.text-overlay > p.secondary-text {
  opacity: 0;
  font-size: 24px;
  transition: all 0.7s;
}

.text-overlay > p.secondary-text:first-child {
  transform: translateY(-100%);
}

.text-overlay > p.secondary-text:last-child {
  transform: translateY(100%);
}

.panel-active .text-overlay > p.secondary-text {
  transform: translateY(0);
  opacity: 1;
}
