:root {
  --max-panel-width: 1000px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  background: #292929;
  color: #eee;
  padding: 1rem;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  height: 500px;
  flex-grow: 1;
  max-width: calc(5 * var(--max-panel-width) + 4 * var(--max-panel-width));
}

.panel {
  width: 20%;
  flex-grow: 1;
  padding: 0.5rem;
  position: relative;
  transition: all 1s;
}

.panel > p {
  position: absolute;
  width: 100%;
  text-align: center;
}

.primary-text {
  top: 50%;
}

.secondary-text {
  opacity: 0;
  font-size: 24px;
  transition: all 1s;
}

.secondary-text:first-child {
  top: 0;
}

.secondary-text:last-child {
  bottom: 0;
}

.panel-active {
  width: 50%;
}

.panel-active > .secondary-text {
  opacity: 1;
}

.panel-active > .secondary-text:first-child {
  top: 10%;
}

.panel-active > .secondary-text:last-child {
  bottom: 10%;
}

.panel:nth-child(1) {
  background-image: url('https://source.unsplash.com/w_UIMfUtFnc/1000x500');
}

.panel:nth-child(2) {
  background-image: url('https://source.unsplash.com/QvTrOrhJOJ4/1000x500');
}

.panel:nth-child(3) {
  background-image: url('https://source.unsplash.com/AJ8xxudtzxw/1000x500');
}

.panel:nth-child(4) {
  background-image: url('https://source.unsplash.com/73DaTub6kDU/1000x500');
}

.panel:nth-child(5) {
  background-image: url('https://source.unsplash.com/D5LI5NC3f8Q/1000x500');
}
